.btn-xxl {
  font-size: 4.3em;
  border-radius: 30px;
  color: black;
  font-family: "Concert One", cursive;
  font-weight: bold;
}
.home-button{
  font-size: 4.3em;

}

.nav-title {
  background:linear-gradient(to right, aqua, fuchsia);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Concert One", cursive;  
  font: weight 1500px;;

}
h1{
  font-family: "Concert One", cursive;  

}
.home-background {
  background: linear-gradient(to right, aqua, fuchsia);
}
.home-background1{
  background: linear-gradient(to right, aqua, fuchsia);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:start;
  gap:2rem;
}
.title{
  font-size: 3.2em;
  justify-content: space-between;
  font-family: "Concert One", cursive;
  mix-blend-mode: difference;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
