.profile-background {
    height: 100vh;
    overflow: scroll;
    margin-bottom: 1em;
    background: linear-gradient(to right, aqua, fuchsia);
    padding-bottom: 5rem;
}

.image{
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    margin-bottom: 0.75rem;
    border-radius: 2rem;
    opacity: 0.9;
    border-width: 4px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
}

h2{
    font-family: "Concert One", cursive;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}


#listgroup {
    font-family: "Concert One", cursive;
    width: 45rem;
    font-size: 3em;
    margin: 0 auto;
    font-weight: bold;
}

.groups{
    display: block;
    margin-left: 800px;
    margin-right: auto;
    text-align: center;
    align-self: center;
    border-radius: 19rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#name-and-pic{
    float: left;
    margin-left: 160px;
    margin-top: 40px;
}
