.profile-background {
    min-height: 100vh;
    margin-bottom: 1em;
    background: linear-gradient(to right, aqua, fuchsia);
}

h2{
    font-family: "Concert One", cursive;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}


#listgroup {
    font-family: "Concert One", cursive;
    width: 45rem;
    font-size: 3em;
    margin: 0 auto;
    font-weight: bold;
}

.groups{
    display: block;
    margin-left: 800px;
    margin-right: auto;
    text-align: center;
    align-self: center;
}

#name-and-pic{
    float: left;
    margin-left: 160px;
    margin-top: 40px;
}
